.places{
    display: flex;
    flex-direction: column;
    margin: 100px 148px 0 148px;
    gap: 80px;
}

@media screen and (max-width: 1024px) {
    .places{
        margin: 110px 48px 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .places{
        margin: 88px 24px 0 24px;
        gap: 45px;
    }
}

@media screen and (max-width: 320px) {
    .places{
        margin: 20px 0 0 0;
        max-width: 320px;
        gap: 25px;
    }
}