.places{
    display: flex;
    flex-direction: column;
    margin: 92px 148px 0 148px;
    gap: 80px;
    max-width: calc(100% - 2*148px);
}

@media screen and (max-width: 1279px) {
    .places{
        margin: 88px 48px 0 48px;
        max-width: calc(100% - 2*48px);
    }
}

@media screen and (max-width: 768px) {
    .places{
        margin: 92px 0px 0 24px;
        gap: 68px;
        max-width: calc(100% - 2*24px);
    }
}

@media screen and (max-width: 320px) {
    .places{
        margin: 64px 2px 0 0;
        gap: 48px;
        max-width: 100%;
    }
}