.intro__list{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 34px 0 0 0;
    padding: 0;
    list-style: none;
}

@media screen and (max-width: 320px) {
    .intro__list{
        margin-top: 32px;
    }
}