.lead{
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    max-width: 100%;
}

@media screen and (max-width: 1024px) {
    .lead{
        margin: 42px 42px 0 42px;
    }
}

@media screen and (max-width: 768px) {
    .lead{
        margin: 38px 0 0 0;
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .lead{
        margin:40px 0 0 0;
        width: 100%;
    }
}