.cover__subtitle{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    max-width: 360px;
    margin: 10px auto 0 auto;
    padding: 0;
}

@media screen and (max-width: 320px) {
    .cover__subtitle{
        font-size: 14px;
        line-height: 16px;
        margin: 0 40px 15px 40px;
    }
}