.places__place__title{
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .places__place__title{
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 320px) {
    .places__place__title{
        font-size: 32px;
        line-height: 35px;
    }
}