.footer__copyright{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
    justify-self: flex-end;
    margin: 0;
    margin-left: auto;
}

@media screen and (max-width: 768px) {
    .footer__copyright{
        margin-right: 24px;
    }
}

@media screen and (max-width: 690px) {
    .footer__copyright{
        margin-left: 0;
        margin-top: 14px;
        text-align: left;
    }
}