.place__website-link{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    width: fit-content;
}

@media screen and (max-width: 320px) {
    .place__website-link{
        margin-left: 14px;
    }
}