.intro{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 100%;
    margin: 80px 442px 0 148px;
    max-width: 690px;
    max-width: 100%;
}

@media screen and (max-width: 1024px) {
    .intro{
        margin: 80px 280px 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro{
        margin: 80px 0 0 20px;
    }
}


@media screen and (max-width: 690px) {
    .intro{
        margin: 50px 10px;
        max-width: 90%;
    }
}

@media screen and (max-width: 320px) {
    .intro{
        margin: 50px 10px;
        max-width: 288px;
    }
}