.intro{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 100%;
    margin: 64px 148px 0 148px;
    max-width: 690px;
}

@media screen and (max-width: 1024px) {
    .intro{
        margin: 56px 48px 0 48px;
    }
}

@media screen and (max-width: 320px) {
    .intro{
        max-width: 288px;
    }
}