.lead__subtitle{
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: auto;
    color: #FFFFFF;
    max-width: 720px;
}

@media screen and (max-width: 320px) {
    .lead__subtitle{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        margin: auto;
        color: #FFFFFF;
        max-width: 288px;
    }
}