.cover__title{
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    max-width: 560px;
    
}

@media screen and (max-width: 320px) {
    .cover__title{
        font-size: 32px;
        line-height: 35px;
        margin: 48px 40px 15px 40px;
    }
}