.footer{
    display: flex;
    flex-direction: row;
    margin: 0 48px 24px 48px;
    gap: 18px;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .footer{
        margin: 0 0 24px 24px;
    }
}

@media screen and (max-width: 320px) {
    .footer{
        margin-left: 16px;
        flex-direction: column;
        gap: 32px;
    }
}